#page {
  padding: 72px;
}

#page-title {
  font-family: Inter, Roboto, 'sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0px;
}

#main-content{
  padding-left: 72px;
  padding-top: 43px;
}