<nav class="my-paginate d-flex justify-content-center">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="onClickPrevious()"><i class="bi bi-chevron-left"></i></a>
    </li>
    <li class="page-item {{i === currentPage ? 'active' : ''}}" *ngFor="let p of counter(countPages); let i = index">
      <a class="page-link" (click)="onClickPage(i)">
        {{i + 1}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="onClickNext()">
        <i class="bi bi-chevron-right"></i></a></li>
  </ul>
</nav>